.health-bar-color {
    background-color: red;
}

.health-bar-width {
    width: 100%;
}

.health-bar {
    width: 100%;
}

.health-element {
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    color: white;
    text-align: center;
}